*{
    margin: 0;
    padding: 0;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(65,0,0);
    animation: ColorAnimate 8s linear infinite;
}

@keyframes ColorAnimate {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

.container{
    display: flex;
}

.circulo{
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 -7.5px;
}

.esfera{
    position: absolute;
    height: 100%;
    width: 100%;
    transform: rotate(calc(3deg * var(--esfera)));
    /* 360deg/3deg = 120 */
}

.esfera::before{
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: yellow;
    border-radius: 50%;
    right: 0;
    top: calc(50% - 7.5px);
    box-shadow: 0 0 10px yellow;
    transform: scale(0);
    animation: Animate 7.952s linear infinite;
    animation-delay: calc(0.033s * var(--esfera));
}


@keyframes Animate {
    0%{
        transform: scale(1);
    }
    50%,100%{
        transform: scale(0);
    }
}

.circulo:nth-child(2){
    transform: rotate(-180deg);
}


.circulo:nth-child(2) .esfera::before{
    animation-delay: calc(-0.033s * var(--esfera));
}